<div class="row">

    <div class="col-sm-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title">
                {{bookModel.book.title}}
                <small class="align-right">Rating: {{bookModel.book.rating}}/5</small>
            </h2>
            <p class="blog-post-meta">
                {{bookModel.book.yearPublished}} by <a href="#">{{bookModel.book.author.name}}</a>
            </p>

            <p>
                {{bookModel.book.description}}
            </p>
        </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>About Author</h4>
            <p>
                {{bookModel.book.author.description}}
            </p>
        </div>
        <div class="sidebar-module">
            <h4>Other Books by {{bookModel.book.author.name}}</h4>
            <ol class="list-unstyled">
                <li ng-repeat="otherBook in bookModel.otherBooks">
                    <a href="#/book/{{otherBook.id}}">{{otherBook.title}} in {{otherBook.yearPublished}}</a>
                </li>
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>Similar Books by other Authors</h4>
            <ol class="list-unstyled">
                <li ng-repeat="similarBook in bookModel.similarBooks">
                    <a href="#/book/{{similarBook.id}}">{{similarBook.title}} by {{similarBook.author.name}}</a>
                </li>
            </ol>
        </div>
    </div><!-- /.blog-sidebar -->

</div><!-- /.row -->